
main {
  height:500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.btn-search {
  width: auto;
  height: 36px;
  text-align: center;
  border-style: none;
  border-width: thin;
  color: #5f6368;
  padding: 5px 16px;
  font-weight: 300;
  margin-right: 7px;
}


.box-btn-search {
  padding: 20px 0px;
  margin: 10px;

}

.box-search {
  position: relative;
}

.box-search .search {
  width: 582px;
  height: 44px;
  border-radius: 20px;
  border-style: solid;
  border-width: thin;


}

.box-search .search:hover {
  box-shadow:
  0px 2px 3px -1px gray,
  0px -3px 4px -5px gray;

}

.fa.fa-search {
  position: absolute;
  top: 30%;
  margin-left: 15px;
  color: #9AA0A6;
}

.logo-google {
  margin-bottom: 30px;
}
