
body {
  font-family: Arial, sans-serif;
}

main {
  height:233px;
  width: 1340px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  
}

.btn-search {
  width: auto;
  height: 36px;
  text-align: center;
  border-style: none;
  border-width: thin;
  color: #5f6368;
  padding: 5px 16px;
  font-weight: 300;
  margin-right: 7px;
}


.box-btn-search {
  padding: 20px 0px;
  margin: 10px;

}

.box-search {
  position: relative;
}

.box-search .search {
  width: 582px;
  height: 44px;
  border-radius: 20px;
  border-style: solid;
  border-width: thin;


}

.box-search .search:hover {
  box-shadow:
  0px 2px 3px -1px gray,
  0px -3px 4px -5px gray;

}

.fa.fa-search {
  position: absolute;
  top: 30%;
  margin-left: 15px;
  color: #9AA0A6;
}

.logo-google {
  margin-bottom: 30px;
}


li a {
  text-decoration: none;
  display: inline;
  color: #484848;
  font-size: 13px;
  width: 60px;
  padding: 8px;
}

a{
  display: block;

}

.float-right {
  float: right;
  padding: 12px 5px;
  margin-top: 8px;

}

.float-left {
  float: left;
  padding: 19px 12px;
}

.float-right-1 {
  float: right;
  padding: 12px 5px;
  margin-top: 8px;
  margin-right: 10px;
  background-color: #4385f7;
}

.float-right-1 a {
  color: white;
}

.footer-right {
  float: right;
  padding: 19px 12px;
  margin-top: 160px;
}

.footer-left {
  float: left;
  padding: 19px 12px;
  margin-top: 160px;
}
